@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Instrument Serif", serif;
    --font-mono: "JetBrains Mono", monospace;
}

:root {
    --background: rgb(46, 47, 47);
}

